@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Unbounded:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

img {
  height:35px;
  border-radius: 100%;
}

.notification-container {
  margin: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  height: auto;
  background-color: transparent;
}

.notification-container .latest-notification {
  width: 50%;
  border: 1px solid gray;
  border-radius: 12px;
  height: fit-content;
}

.latest-notification .latest-notification-heading {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}
.latest-notification .latest-notification-heading i {
  cursor:pointer;
}
.latest-notification-heading p {
  font-size: clamp(.7rem, 2vw, .9rem);
  font-family: "Unbounded", sans-serif;
}

.latest-notification .notifications ul {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.latest-notification .notifications ul li {
  display: inline-flex;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3.5px;
  background-color: rgb(253, 239, 218);
  font-size: clamp(.4rem, 2vw, .65rem);
  padding: 5px;
  cursor: pointer;
}

.latest-notification .notifications ul .notification {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.latest-notification .notifications ul .notification p {
  font-family: "Unbounded", sans-serif;
  font-size: clamp(.3rem, 1.5vw,.7rem);
}

.latest-notification .notifications ul .notification .titleanddescription p{
  width: 60%;
}
.notification-detail {
  width: 50%;
  border: 1px solid gray;
  border-radius: 12px;
  height: fit-content;
  margin: 5px;
}

.notification-detail .notification-detail-heading {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.notification-detail .notification-detail-heading i {
  cursor: pointer;
}

.notification-detail-heading p {
  font-size: clamp(.4rem, 1.5vw, .9rem);
  font-family: "Unbounded", sans-serif;
}

.notification-detail .details {
  margin: 10px;
}

.notification-detail .details ul {
  display: flex;
  flex-direction: column;

}

.notification-detail .details ul li {
  display: inline-flex;
  width: 100%;
  font-size: clamp(.4rem, 2vw, .68rem);

}

.notification-detail .details ul li .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2px;
  padding: 2px;
}

.notification-detail .details ul li .detail i {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 5px;
}

.notification-detail .details ul li .detail p {
  display: flex;
  margin-left: 5px;
}

.detail-notification .assignee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2px;
  padding: 2px;
  font-size: clamp(.4rem, 2vw, .68rem);
}

.detail-notification .assignee i {
  display: flex;
  cursor: pointer;
}

.detail-notification .assignee p {
  display: flex;
  margin-left: 5px;
}

.notification-detail .attachments .attachment-heading {
  margin: 7px;
  font-size: clamp(.7rem, 2vw, .9rem);

}

.notification-detail .attachment {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: clamp(.4rem, 2vw, .68rem);
  margin: 5px;
  background-color: rgb(238, 231, 231);
  padding: 15px;
  border-radius: 8px;
}

.notification-detail .attachment i {
  margin-right: 5px;
  background-color: rgb(188, 183, 183);
  padding: 4px;
  border-radius: 100%;
  cursor: pointer;
}

.notification-detail .attachment input {
  flex: 1;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  padding-left: 8px;
  padding: 5px;
  font-size: clamp(.4rem, 2vw, .68rem);
}

.notification-detail .attachment .attachbtn {
  display: flex;
  align-items: center;
  font-size: clamp(.4rem, 2vw, .68rem);
  margin-left: 3px;
}

.notification-detail .links .links-heading {
  margin: 7px;
  font-size: clamp(.7rem, 2vw, .9rem);
  font-family: "Unbounded", sans-serif;
}

.notification-detail .link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  font-size: clamp(.4rem, 2vw, .68rem);
  background-color: rgb(238, 231, 231);
  padding: 15px;
  border-radius: 8px;
}

.notification-detail .link i {
  margin-right: 5px;
  background-color: rgb(230, 183, 88);
  padding: 4px;
  border-radius: 100%;
  cursor: pointer;
}

.notification-detail .link input {
  flex: 1;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: clamp(.4rem, 2vw, .68rem);
}

.notification-detail .link .linkbtn {
  display: flex;
  align-items: center;
  font-size: clamp(.4rem, 2vw, .68rem);
  margin-left: 3px;
}

.notification-detail .saveBtn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-detail .saveBtn p {
  border: 1px solid black;
  border-radius: 12px;
  padding: 4px;
  background-color: yellow;
  font-size: clamp(.4rem, 2vw, .68rem);
  box-shadow: -2px 1px 1px 1px rgb(232, 232, 79);
}

@media (min-width:0px) {
  .notification-container {
    flex-wrap: wrap;
  }

  .notification-container .latest-notification {
    width: 100%;
  }

  .notification-container .notification-detail {
    width: 100%;
  }
}

@media (min-width:768px) {
  .notification-container {
    flex-wrap: nowrap;
  }

  .notification-container .latest-notification {
    width: 100%;
  }

  .notification-container .notification-detail {
    width: 100%;
  }
}