html,body{
 background-color: white ;
 height: 100%;
 width: 100%;
 display:flex;
 align-items: center;
 justify-content: center;
 border-radius:12px;
 overflow: none;
}
img{
 height:400px;
 border-radius:0px;
 overflow: none;
}